---
gcp_setup_credentials__expected:
  auth_kind: accesstoken
  project: "{{ gcp_project }}"
  scopes: "{{ gcp_scopes }}"
  service_account_email: "{{ gcp_service_account_email }}"
  service_account_contents: "{{ gcp_service_account_content }}"
  service_account_file: "{{ gcp_service_account_file }}"
  access_token: "{{ gcp_access_token }}"